In [1]:
import numpy as np
import pandas as pd

__Описание задачи__

Небольшой интернет-магазин попросил вас добавить ранжирование товаров в блок "Смотрели ранее" - в нем теперь надо показывать не последние просмотренные пользователем товары, а те товары из просмотренных, которые он наиболее вероятно купит. Качество вашего решения будет оцениваться по количеству покупок в сравнении с прошлым решением в ходе А/В теста, т.к. по доходу от продаж статзначимость будет достигаться дольше из-за разброса цен. Таким образом, ничего заранее не зная про корреляцию оффлайновых и онлайновых метрик качества, в начале проекта вы можете лишь постараться оптимизировать recall@k и precision@k.

Это задание посвящено построению простых бейзлайнов для этой задачи: ранжирование просмотренных товаров по частоте просмотров и по частоте покупок. Эти бейзлайны, с одной стороны, могут помочь вам грубо оценить возможный эффект от ранжирования товаров в блоке - например, чтобы вписать какие-то числа в коммерческое предложение заказчику, а с другой стороны, могут оказаться самым хорошим вариантом, если данных очень мало (недостаточно для обучения даже простых моделей).

__Входные данные__

Вам дается две выборки с пользовательскими сессиями - id-шниками просмотренных и id-шниками купленных товаров. Одна выборка будет использоваться для обучения (оценки популярностей товаров), а другая - для теста.

В файлах записаны сессии по одной в каждой строке. Формат сессии: id просмотренных товаров через `,` затем идёт `;` после чего следуют id купленных товаров (если такие имеются), разделённые запятой. Например, `1,2,3,4;` или `1,2,3,4;5,6`.

Гарантируется, что среди id купленных товаров все различные.

__Важно:__

Сессии, в которых пользователь ничего не купил, исключаем из оценки качества.
Если товар не встречался в обучающей выборке, его популярность равна 0.
Рекомендуем разные товары. И их число должно быть не больше, чем количество различных просмотренных пользователем товаров.
Рекомендаций всегда не больше, чем минимум из двух чисел: количество просмотренных пользователем товаров и k в recall@k / precision@k.

__Задание__

1. На обучении постройте частоты появления id в просмотренных и в купленных (id может несколько раз появляться в просмотренных, все появления надо учитывать)
1. Реализуйте два алгоритма рекомендаций:
    - сортировка просмотренных id по популярности (частота появления в просмотренных),
    - сортировка просмотренных id по покупаемости (частота появления в покупках).
3. Для данных алгоритмов выпишите через пробел AverageRecall@1, AveragePrecision@1, AverageRecall@5, AveragePrecision@5 на обучающей и тестовых выборках, округляя до 2 знака после запятой. Это будут ваши ответы в этом задании. Посмотрите, как они соотносятся друг с другом. Где качество получилось выше? Значимо ли это различие? Обратите внимание на различие качества на обучающей и тестовой выборке в случае рекомендаций по частотам покупки.

Если частота одинаковая, то сортировать нужно по возрастанию момента просмотра (чем раньше появился в просмотренных, тем больше приоритет)

__Дополнительные вопросы__

Обратите внимание, что при сортировке по покупаемости возникает много товаров с одинаковым рангом - это означает, что значение метрик будет зависеть от того, как мы будем сортировать товары с одинаковым рангом. Попробуйте убедиться, что при изменении сортировки таких товаров recall@k меняется. Подумайте, как оценить минимальное и максимальное значение recall@k в зависимости от правила сортировки.
Мы обучаемся и тестируемся на полных сессиях (в которых есть все просмотренные за сессию товары). Подумайте, почему полученная нами оценка качества рекомендаций в этом случае несколько завышена.

train = []
with open('data/coursera_sessions_train.txt') as f:
    for line in f.readlines():
        line = line.strip('\n;')
        if ';' in line:
            train.append(line)

for i, line in enumerate(train):
    line = line.split(';')
    train[i] = line

In [2]:
df = pd.read_csv('data/coursera_sessions_train.txt', sep=';', header=None)
df.columns = ['viewed', 'bought']
df.index = range(len(df))
df.viewed = df.viewed.apply(lambda x: list(map(int, x.split(','))))
df.bought = df.bought.dropna().apply(lambda x: list(map(int, x.split(','))))
df.head(10)

                                              viewed        bought
0                                 [0, 1, 2, 3, 4, 5]           NaN
1                      [9, 10, 11, 9, 11, 12, 9, 11]           NaN
2                           [16, 17, 18, 19, 20, 21]           NaN
3                               [24, 25, 26, 27, 24]           NaN
4   [34, 35, 36, 34, 37, 35, 36, 37, 38, 39, 38, 39]           NaN
5                                               [42]           NaN
6                                       [47, 48, 49]           NaN
7  [59, 60, 61, 62, 60, 63, 64, 65, 66, 61, 67, 6...  [67, 60, 63]
8                                   [71, 72, 73, 74]           NaN
9                                       [76, 77, 78]           NaN

df = pd.read_csv('data/coursera_sessions_train.txt', sep=';', header=None).dropna()
df.columns = ['viewed', 'bought']
df.index = range(len(df))
df = df.applymap(lambda x: list(map(int, x.split(','))))
df.head()

In [3]:
from collections import Counter, OrderedDict
class OrderedCounter(Counter, OrderedDict):
    pass

In [7]:
viewed = np.concatenate(df.viewed)
bought = np.concatenate(df.bought.dropna().values)

top_viewed = OrderedDict(
    sorted(Counter(viewed).items(),
           key=lambda x: x[1],
           reverse=True))

top_bought = OrderedDict(
    sorted(Counter(bought).items(),
           key=lambda x: x[1],
           reverse=True))

In [8]:
top_viewed

OrderedDict([(73, 677),
             (158, 641),
             (204, 396),
             (262, 387),
             (162, 318),
             (7, 312),
             (137, 306),
             (1185, 284),
             (6, 283),
             (170, 280),
             (800, 253),
             (5202, 227),
             (8, 225),
             (609, 213),
             (3149, 213),
             (3324, 204),
             (1346, 199),
             (751, 197),
             (1184, 186),
             (1933, 186),
             (1283, 186),
             (1844, 186),
             (325, 184),
             (551, 177),
             (4604, 177),
             (1334, 174),
             (42149, 174),
             (259, 173),
             (1852, 172),
             (70238, 170),
             (72, 167),
             (258, 167),
             (758, 166),
             (85, 165),
             (1342, 165),
             (343, 164),
             (2290, 163),
             (5501, 160),
             (1323, 159),
             (3718, 158),
             (301, 156),
             (115, 154),
             (879, 153),
             (2922, 153),
             (3697, 153),
             (6974, 151),
             (260, 150),
             (1214, 149),
             (3286, 149),
             (2084, 149),
             (28, 148),
             (363, 147),
             (255, 147),
             (302, 144),
             (71, 141),
             (791, 140),
             (1349, 140),
             (1595, 140),
             (875, 139),
             (1934, 139),
             (884, 138),
             (1814, 138),
             (2845, 136),
             (553, 135),
             (5894, 133),
             (759, 133),
             (1651, 131),
             (3882, 131),
             (114, 129),
             (2397, 129),
             (11027, 129),
             (1949, 129),
             (72586, 127),
             (552, 125),
             (469, 124),
             (1011, 122),
             (966, 122),
             (2287, 122),
             (1843, 122),
             (316, 121),
             (2965, 121),
             (6882, 121),
             (594, 121),
             (1869, 120),
             (3287, 120),
             (2070, 120),
             (4535, 119),
             (461, 119),
             (746, 118),
             (1140, 118),
             (1277, 116),
             (2513, 116),
             (591, 115),
             (2294, 115),
             (9379, 115),
             (731, 113),
             (4890, 112),
             (1782, 112),
             (918, 110),
             (4540, 110),
             (6020, 109),
             (3855, 109),
             (1085, 108),
             (3866, 107),
             (3099, 107),
             (1715, 107),
             (2843, 107),
             (6570, 106),
             (59550, 104),
             (361, 103),
             (1818, 103),
             (4926, 103),
             (9911, 103),
             (5569, 102),
             (127, 101),
             (1656, 101),
             (341, 100),
             (126, 100),
             (5570, 100),
             (4599, 100),
             (597, 99),
             (1494, 98),
             (2579, 98),
             (2738, 98),
             (1720, 97),
             (2256, 97),
             (5165, 97),
             (610, 96),
             (970, 96),
             (1181, 95),
             (300, 95),
             (1057, 95),
             (93, 94),
             (3502, 94),
             (2564, 94),
             (182, 94),
             (1008, 93),
             (2108, 93),
             (10091, 93),
             (11309, 93),
             (9734, 93),
             (257, 92),
             (160, 92),
             (1474, 91),
             (8500, 91),
             (166, 90),
             (5055, 90),
             (1193, 90),
             (807, 90),
             (3059, 90),
             (1731, 89),
             (2779, 89),
             (828, 88),
             (360, 88),
             (3289, 88),
             (331, 88),
             (72585, 88),
             (1654, 87),
             (7254, 87),
             (10909, 87),
             (437, 86),
             (1637, 86),
             (5788, 86),
             (241, 85),
             (4901, 85),
             (4903, 85),
             (2937, 85),
             (7953, 85),
             (10765, 85),
             (15590, 85),
             (136, 84),
             (192, 84),
             (264, 84),
             (1935, 84),
             (6630, 84),
             (805, 83),
             (2861, 83),
             (1868, 83),
             (5559, 83),
             (1721, 83),
             (5075, 83),
             (375, 82),
             (1141, 82),
             (106, 82),
             (4062, 82),
             (6044, 82),
             (6935, 82),
             (6885, 82),
             (1716, 82),
             (5576, 82),
             (15513, 82),
             (1551, 81),
             (2896, 81),
             (2947, 81),
             (159, 81),
             (1931, 80),
             (2720, 80),
             (1849, 80),
             (2193, 80),
             (510, 79),
             (3326, 79),
             (326, 79),
             (7025, 79),
             (1009, 78),
             (335, 78),
             (2395, 78),
             (2800, 78),
             (3406, 78),
             (1813, 78),
             (3288, 78),
             (2380, 78),
             (4560, 78),
             (3083, 77),
             (5909, 77),
             (7228, 77),
             (547, 76),
             (1867, 76),
             (9135, 76),
             (6202, 76),
             (1064, 75),
             (2929, 75),
             (4266, 75),
             (6871, 75),
             (11894, 75),
             (161, 74),
             (2093, 74),
             (3608, 74),
             (140, 73),
             (99, 73),
             (1361, 73),
             (10361, 73),
             (19085, 73),
             (2923, 73),
             (1660, 72),
             (2482, 72),
             (7306, 72),
             (8363, 72),
             (1307, 72),
             (2200, 72),
             (10181, 72),
             (4335, 72),
             (1549, 71),
             (2481, 71),
             (2568, 71),
             (1242, 71),
             (10949, 71),
             (23344, 71),
             (17, 70),
             (747, 70),
             (3870, 70),
             (5884, 70),
             (8162, 70),
             (337, 70),
             (5414, 70),
             (1339, 69),
             (1475, 69),
             (3786, 69),
             (11134, 69),
             (8680, 69),
             (1534, 68),
             (1588, 68),
             (183, 68),
             (2747, 68),
             (5438, 68),
             (4600, 68),
             (508, 68),
             (2539, 68),
             (5922, 68),
             (1871, 68),
             (628, 68),
             (1345, 67),
             (4084, 67),
             (380, 67),
             (4721, 67),
             (5120, 67),
             (8589, 67),
             (9293, 67),
             (9380, 67),
             (10451, 67),
             (6323, 67),
             (12804, 67),
             (847, 66),
             (920, 66),
             (202, 66),
             (779, 66),
             (2946, 66),
             (4748, 66),
             (6627, 66),
             (3263, 66),
             (3889, 66),
             (3698, 66),
             (3785, 66),
             (14938, 66),
             (6706, 66),
             (611, 65),
             (1042, 65),
             (2563, 65),
             (3719, 65),
             (3784, 65),
             (808, 65),
             (776, 65),
             (1054, 65),
             (9257, 65),
             (26652, 65),
             (97548, 65),
             (977, 64),
             (1225, 64),
             (4333, 64),
             (1055, 64),
             (125, 64),
             (9292, 64),
             (796, 63),
             (317, 63),
             (1750, 63),
             (1099, 63),
             (1030, 63),
             (4968, 63),
             (339, 62),
             (511, 62),
             (743, 62),
             (1142, 62),
             (1847, 62),
             (2173, 62),
             (653, 62),
             (2704, 62),
             (3290, 62),
             (6045, 62),
             (6544, 62),
             (9552, 62),
             (3074, 62),
             (961, 62),
             (261, 62),
             (12124, 62),
             (2257, 62),
             (856, 62),
             (17773, 62),
             (1155, 62),
             (362, 61),
             (390, 61),
             (1649, 61),
             (4528, 61),
             (5390, 61),
             (5399, 61),
             (1845, 61),
             (10976, 61),
             (11074, 61),
             (1783, 61),
             (1050, 61),
             (195, 60),
             (374, 60),
             (33, 60),
             (1552, 60),
             (2151, 60),
             (2296, 60),
             (2913, 60),
             (3430, 60),
             (6107, 60),
             (6178, 60),
             (7726, 60),
             (10717, 60),
             (10830, 60),
             (784, 60),
             (6324, 60),
             (14478, 60),
             (422, 60),
             (1821, 59),
             (3164, 59),
             (3402, 59),
             (1058, 59),
             (1083, 59),
             (9754, 59),
             (10818, 59),
             (11695, 59),
             (14295, 59),
             (10218, 59),
             (2044, 59),
             (1536, 58),
             (3445, 58),
             (4573, 58),
             (6365, 58),
             (4593, 58),
             (11220, 58),
             (184, 58),
             (3490, 58),
             (1625, 58),
             (7294, 58),
             (12709, 58),
             (391, 57),
             (711, 57),
             (1066, 57),
             (1382, 57),
             (1483, 57),
             (2634, 57),
             (4408, 57),
             (1186, 57),
             (6546, 57),
             (882, 57),
             (6712, 57),
             (7848, 57),
             (4476, 57),
             (4722, 57),
             (2741, 57),
             (12805, 57),
             (172, 57),
             (14457, 57),
             (263, 56),
             (513, 56),
             (523, 56),
             (601, 56),
             (1198, 56),
             (1911, 56),
             (3610, 56),
             (4240, 56),
             (5962, 56),
             (382, 56),
             (8279, 56),
             (8485, 56),
             (10991, 56),
             (1815, 56),
             (176, 55),
             (196, 55),
             (877, 55),
             (1043, 55),
             (2569, 55),
             (4239, 55),
             (6009, 55),
             (6039, 55),
             (6805, 55),
             (7553, 55),
             (8505, 55),
             (10244, 55),
             (5956, 55),
             (1780, 55),
             (778, 55),
             (19640, 55),
             (712, 54),
             (1324, 54),
             (1795, 54),
             (1999, 54),
             (2171, 54),
             (3434, 54),
             (6571, 54),
             (443, 54),
             (4744, 54),
             (7970, 54),
             (1416, 54),
             (7322, 54),
             (171, 54),
             (13484, 54),
             (6567, 54),
             (12097, 54),
             (22528, 54),
             (11035, 54),
             (967, 53),
             (1496, 53),
             (3104, 53),
             (1601, 53),
             (5848, 53),
             (6105, 53),
             (5562, 53),
             (11325, 53),
             (11746, 53),
             (11434, 53),
             (19049, 53),
             (10367, 53),
             (8640, 53),
             (4173, 53),
             (9466, 53),
             (464, 52),
             (1151, 52),
             (1347, 52),
             (2514, 52),
             (4236, 52),
             (5183, 52),
             (5733, 52),
             (5924, 52),
             (315, 52),
             (10441, 52),
             (11606, 52),
             (1056, 52),
             (12802, 52),
             (4075, 52),
             (1139, 51),
             (1312, 51),
             (2288, 51),
             (3282, 51),
             (3582, 51),
             (5146, 51),
             (7794, 51),
             (7881, 51),
             (8754, 51),
             (8694, 51),
             (11420, 51),
             (7238, 51),
             (243, 50),
             (352, 50),
             (615, 50),
             (650, 50),
             (1314, 50),
             (1634, 50),
             (1650, 50),
             (2065, 50),
             (2630, 50),
             (2706, 50),
             (997, 50),
             (2949, 50),
             (3360, 50),
             (4484, 50),
             (1248, 50),
             (1542, 50),
             (3948, 50),
             (5725, 50),
             (6049, 50),
             (8812, 50),
             (9600, 50),
             (1728, 50),
             (6959, 50),
             (1100, 50),
             (10868, 50),
             (12837, 50),
             (13640, 50),
             (13975, 50),
             (381, 50),
             (256, 50),
             (3860, 50),
             (19579, 50),
             (10910, 50),
             (20834, 50),
             (77, 49),
             (925, 49),
             (2595, 49),
             (3143, 49),
             (4526, 49),
             (4751, 49),
             (4891, 49),
             (2565, 49),
             (5045, 49),
             (6035, 49),
             (2001, 49),
             (4602, 49),
             (12036, 49),
             (14383, 49),
             (4856, 49),
             (12479, 49),
             (20, 48),
             (384, 48),
             (833, 48),
             (960, 48),
             (1648, 48),
             (2594, 48),
             (3612, 48),
             (1714, 48),
             (6939, 48),
             (8187, 48),
             (8457, 48),
             (8530, 48),
             (806, 48),
             (872, 48),
             (9826, 48),
             (7324, 48),
             (20393, 48),
             (14480, 48),
             (9645, 48),
             (79, 48),
             (14845, 48),
             (23271, 48),
             (919, 47),
             (1321, 47),
             (1212, 47),
             (1498, 47),
             (4795, 47),
             (2939, 47),
             (6759, 47),
             (4893, 47),
             (9451, 47),
             (9602, 47),
             (8591, 47),
             (18125, 47),
             (11451, 47),
             (16003, 47),
             (2345, 47),
             (212, 47),
             (78154, 47),
             (1079, 46),
             (1317, 46),
             (2292, 46),
             (3444, 46),
             (3868, 46),
             (4770, 46),
             (6013, 46),
             (468, 46),
             (5857, 46),
             (8596, 46),
             (9604, 46),
             (7843, 46),
             (9909, 46),
             (10488, 46),
             (7537, 46),
             (7491, 46),
             (737, 46),
             (12707, 46),
             (16407, 46),
             (767, 46),
             (21269, 46),
             (21389, 46),
             (3356, 46),
             (15647, 46),
             (7256, 46),
             (167, 46),
             (11163, 46),
             (33250, 46),
             (26568, 46),
             (37006, 46),
             (26622, 46),
             (799, 45),
             (855, 45),
             (2174, 45),
             (2476, 45),
             (3428, 45),
             (4164, 45),
             (4400, 45),
             (6322, 45),
             (7111, 45),
             (7275, 45),
             (2247, 45),
             (9868, 45),
             (383, 45),
             (4872, 45),
             (12038, 45),
             (2088, 45),
             (13269, 45),
             (14227, 45),
             (15668, 45),
             (10112, 45),
             (9740, 45),
             (21226, 45),
             (21837, 45),
             (1605, 45),
             (7852, 45),
             (5151, 45),
             (75644, 45),
             (97547, 45),
             (519, 44),
             (135, 44),
             (1256, 44),
             (1315, 44),
             (1669, 44),
             (1962, 44),
             (2631, 44),
             (2948, 44),
             (5076, 44),
             (5360, 44),
             (5063, 44),
             (7855, 44),
             (4033, 44),
             (8614, 44),
             (9010, 44),
             (9615, 44),
             (8029, 44),
             (9852, 44),
             (10464, 44),
             (763, 44),
             (13541, 44),
             (6629, 44),
             (14768, 44),
             (3861, 44),
             (5895, 44),
             (16534, 44),
             (20482, 44),
             (748, 44),
             (10875, 44),
             (2501, 44),
             (23930, 44),
             (1544, 44),
             (1278, 44),
             (144, 43),
             (157, 43),
             (599, 43),
             (713, 43),
             (1571, 43),
             (1807, 43),
             (2168, 43),
             (438, 43),
             (3547, 43),
             (2827, 43),
             (4594, 43),
             (6129, 43),
             (4881, 43),
             (6716, 43),
             (10601, 43),
             (10638, 43),
             (2864, 43),
             (13344, 43),
             (14501, 43),
             (5029, 43),
             (4076, 43),
             (8999, 43),
             (1794, 43),
             (14326, 43),
             (27368, 43),
             (18199, 43),
             (30455, 43),
             (4888, 43),
             (4105, 43),
             (223, 42),
             (1137, 42),
             (1150, 42),
             (2412, 42),
             (2623, 42),
             (2635, 42),
             (3283, 42),
             (5102, 42),
             (3180, 42),
             (6037, 42),
             (6366, 42),
             (5859, 42),
             (4034, 42),
             (8122, 42),
             (8497, 42),
             (8244, 42),
             (10364, 42),
             (462, 42),
             (10166, 42),
             (10998, 42),
             (11438, 42),
             (1589, 42),
             (12343, 42),
             (1533, 42),
             (11185, 42),
             (8054, 42),
             (10583, 42),
             (3105, 42),
             (21177, 42),
             (16444, 42),
             (708, 42),
             (124, 41),
             (1433, 41),
             (2040, 41),
             (2933, 41),
             (3650, 41),
             (2801, 41),
             (5210, 41),
             (6344, 41),
             (7003, 41),
             (7263, 41),
             (8365, 41),
             (2943, 41),
             (2293, 41),
             (9863, 41),
             (10494, 41),
             (6340, 41),
             (7424, 41),
             (11694, 41),
             (6026, 41),
             (6936, 41),
             (14503, 41),
             (1684, 41),
             (16658, 41),
             (11391, 41),
             (7041, 41),
             (596, 41),
             (18779, 41),
             (19919, 41),
             (4039, 41),
             (6972, 41),
             (12506, 41),
             (12841, 41),
             (612, 40),
             (1097, 40),
             (1144, 40),
             (1313, 40),
             (1683, 40),
             (3410, 40),
             (5318, 40),
             (5560, 40),
             (629, 40),
             (6023, 40),
             (6042, 40),
             (2383, 40),
             (2654, 40),
             (8780, 40),
             (8247, 40),
             (7288, 40),
             (7604, 40),
             (11249, 40),
             (11807, 40),
             (4118, 40),
             (13126, 40),
             (3393, 40),
             (12099, 40),
             (15050, 40),
             (15604, 40),
             (16541, 40),
             (17279, 40),
             (18560, 40),
             (500, 40),
             (3955, 40),

top_viewed_df = pd.DataFrame(
    list(zip(range(len(viewed)), viewed)))

top_viewed_df.drop_duplicates(1, inplace=True)

top_viewed_df.set_index(1, inplace=True)
top_viewed_df.index.name = None

top_viewed_df.columns = ['timestamp']

top_viewed_df['count'] = [top_viewed[x] for x in top_viewed_df.index]
top_viewed_df.head()

top_bought_df = pd.DataFrame(
    list(zip(range(len(bought)), bought)))

top_bought_df.drop_duplicates(1, inplace=True)

top_bought_df.set_index(1, inplace=True)
top_bought_df.index.name = None

top_bought_df.columns = ['timestamp']

top_bought_df['count'] = [top_bought[x] for x in top_bought_df.index]
top_bought_df.head()

top_viewed_df.sort_values(by=['count', 'timestamp'], ascending=[False, True]).head()

#### Алгоритм рекомендаций на основе сортировки просмотренных по популярности среди всех

Этот алгоритм работает со списком запросов пользователя. Он выбрасывает дублирующиеся запросы из списка, затем для каждого запроса извлекает значение количества просмотров/покупок из топов  `top_viewed`, таким образом присваивая объективную популярность запросу, затем, он сортирует список запросов по популярности. Если популярность одинаковая, то сортировка происходит по позврастанию момента запроса (чем раньше пользователь запросил id, тем выше он в рекомендациях)

In [9]:
df.dropna().head()

                                               viewed        bought
7   [59, 60, 61, 62, 60, 63, 64, 65, 66, 61, 67, 6...  [67, 60, 63]
10   [84, 85, 86, 87, 88, 89, 84, 90, 91, 92, 93, 86]          [86]
19                               [138, 198, 199, 127]         [199]
30  [303, 304, 305, 306, 307, 308, 309, 310, 311, ...         [303]
33                                    [352, 353, 352]         [352]

In [14]:
def query_pop_sort(query):
    # Drops duplicated query items with saving the order
    oc = OrderedCounter(query).keys()
    # Gets views total count for every item in query
    poplist = []
    for x in list(oc):
        if x in top_viewed:
            poplist.append(top_viewed[x])
        else:
            poplist.append(0)
    # poplist = [top_viewed[x] for x in list(oc) if x in top_viewed]
    # Make timestamps for query
    l = list(zip(oc, poplist, range(len(oc))))
    # Sorted list represents query sorted by total view counts, then by timestamp
    sorted_list = sorted(
        l, key=lambda x: (x[1], -x[2]), reverse=True)  # '-' for ascending timestamp
    sorted_list = [x[0] for x in sorted_list]
    return sorted_list

In [15]:
query_pop_sort(df.viewed[7])

[63, 64, 60, 61, 65, 66, 67, 68, 59, 62]

#### Алгоритм рекомендаций на основе сортировки просмотренных по покупаемости среди всех

Аналогично предыдущему алгоритм сортирует запросы пользователя по покупаемости товара.

In [28]:
def query_bought_sort(query):
    # Drops duplicated query items with saving the order
    oc = OrderedCounter(query).keys()  
    # Gets views total count for every item in query
    boughtlist = []
    for x in list(oc):
        if x in top_bought:
            boughtlist.append(top_bought[x])
        else:
            boughtlist.append(0)
    # boughtlist = [top_bought[x] for x in list(oc) if x in top_bought]  
    # Zips id, total bought count for this id and timestamps of ids in query
    l = list(zip(oc, boughtlist, range(len(oc))))
    # Sorted list represents query sorted by total buy counts, then by timestamp
    sorted_list = sorted(
        l, key=lambda x: (x[1], -x[2]), reverse=True)  # '-' for ascending timestamp
    sorted_list = [x[0] for x in sorted_list]
    return sorted_list

In [29]:
query_bought_sort(df.viewed[7])

[60, 63, 67, 59, 61, 62, 64, 65, 66, 68]

Оба алгоритма формировали популярность и покупаемость `top_views`, `top_boughts` по обучающей выборке.

Сформируем рекомендации для обучающей выборки, затем для контрольной выборки.

In [30]:
df['rec_by_pop'] = (df.viewed.apply(query_pop_sort))
df['rec_by_bought'] = (df.viewed.apply(query_bought_sort))
df = df.dropna()
df.head()

,viewed,bought,rec_by_pop,rec_by_bought
7,"[59, 60, 61, 62, 60, 63, 64, 65, 66, 61, 67, 6...","[67, 60, 63]","[63, 64, 60, 61, 65, 66, 67, 68, 59, 62]","[60, 63, 67, 59, 61, 62, 64, 65, 66, 68]"
10,"[84, 85, 86, 87, 88, 89, 84, 90, 91, 92, 93, 86]",[86],"[85, 93, 89, 90, 84, 92, 86, 87, 91, 88]","[86, 85, 93, 84, 87, 88, 89, 90, 91, 92]"
19,"[138, 198, 199, 127]",[199],"[127, 138, 198, 199]","[138, 199, 127, 198]"
30,"[303, 304, 305, 306, 307, 308, 309, 310, 311, ...",[303],"[303, 306, 304, 307, 309, 310, 305, 308, 311, ...","[303, 304, 305, 306, 307, 308, 309, 310, 311, ..."
33,"[352, 353, 352]",[352],"[352, 353]","[352, 353]"

In [31]:
df_test = pd.read_csv('data/coursera_sessions_test.txt', sep=';', header=None).dropna()
df_test.columns = ['viewed', 'bought']
df_test.index = range(len(df_test))
df_test = df_test.applymap(lambda x: list(map(int, x.split(','))))

df_test['rec_by_pop'] = (df_test.viewed.apply(query_pop_sort))
df_test['rec_by_bought'] = (df_test.viewed.apply(query_bought_sort))

df_test.head()

,viewed,bought,rec_by_pop,rec_by_bought
0,"[63, 68, 69, 70, 66, 61, 59, 61, 66, 68]","[66, 63]","[63, 68, 66, 61, 59, 69, 70]","[63, 68, 69, 70, 66, 61, 59]"
1,"[158, 159, 160, 159, 161, 162]",[162],"[158, 162, 160, 159, 161]","[158, 162, 160, 159, 161]"
2,"[200, 201, 202, 203, 204]","[201, 205]","[204, 202, 203, 200, 201]","[204, 202, 200, 201, 203]"
3,"[371, 372, 371]","[371, 373]","[371, 372]","[371, 372]"
4,[422],[422],[422],[422]

In [32]:
def pk(actual, predicted, k=10):
    if len(predicted)>k:
        predicted = predicted[:k]
    return sum([x in actual for x in predicted]) / k

def avg_pk(actual, predicted, k=10):
    return np.mean([pk(a,p,k) for a,p in zip(actual, predicted)])

In [33]:
def rk(actual, predicted, k=10):
    if len(predicted)>k:
        predicted = predicted[:k]
    return sum([x in actual for x in predicted]) / len(actual)

def avg_rk(actual, predicted, k=10):
    return np.mean([rk(a,p,k) for a,p in zip(actual, predicted)])

In [34]:
df.head()

,viewed,bought,rec_by_pop,rec_by_bought
7,"[59, 60, 61, 62, 60, 63, 64, 65, 66, 61, 67, 6...","[67, 60, 63]","[63, 64, 60, 61, 65, 66, 67, 68, 59, 62]","[60, 63, 67, 59, 61, 62, 64, 65, 66, 68]"
10,"[84, 85, 86, 87, 88, 89, 84, 90, 91, 92, 93, 86]",[86],"[85, 93, 89, 90, 84, 92, 86, 87, 91, 88]","[86, 85, 93, 84, 87, 88, 89, 90, 91, 92]"
19,"[138, 198, 199, 127]",[199],"[127, 138, 198, 199]","[138, 199, 127, 198]"
30,"[303, 304, 305, 306, 307, 308, 309, 310, 311, ...",[303],"[303, 306, 304, 307, 309, 310, 305, 308, 311, ...","[303, 304, 305, 306, 307, 308, 309, 310, 311, ..."
33,"[352, 353, 352]",[352],"[352, 353]","[352, 353]"

In [35]:
query_pop_sort(df.viewed[7])

[63, 64, 60, 61, 65, 66, 67, 68, 59, 62]

In [36]:
df.bought[7]

[67, 60, 63]

In [37]:
pk(df.bought[7], df.rec_by_pop[7], k=5)

0.4

In [79]:
def apk(actual, predicted, k=10):
    """
    Computes the average precision at k.
    This function computes the average prescision at k between two lists of
    items.
    Parameters
    ----------
    actual : list
        A list of elements that are to be predicted (order doesn't matter)
    predicted : list
        A list of predicted elements (order does matter)
    k : int, optional
        The maximum number of predicted elements
    Returns
    -------
    score : double
            The average precision at k over the input lists
    """
    if len(predicted)>k:
        predicted = predicted[:k]

    score = 0.0
    num_hits = 0.0

    for i, p in enumerate(predicted):
        if p in actual and p not in predicted[:i]:
            num_hits += 1.0
            score += num_hits / (i+1.0)

    if not actual:
        return 0.0

    return score / min(len(actual), k)

In [80]:
def mapk(actual, predicted, k=10):
    """
    Computes the mean average precision at k.
    This function computes the mean average prescision at k between two lists
    of lists of items.
    Parameters
    ----------
    actual : list
             A list of lists of elements that are to be predicted 
             (order doesn't matter in the lists)
    predicted : list
                A list of lists of predicted elements
                (order matters in the lists)
    k : int, optional
        The maximum number of predicted elements
    Returns
    -------
    score : double
            The mean average precision at k over the input lists
    """
    return np.mean([apk(a,p,k) for a,p in zip(actual, predicted)])

In [81]:
def ark(actual, predicted, k=10):
    if len(predicted)>k:
        predicted = predicted[:k]

    score = 0.0
    num_hits = 0.0

    for i, p in enumerate(predicted):
        if p in actual and p not in predicted[:i]:
            num_hits += 1.0
            score += num_hits / (i+1.0)

    if not actual:
        return 0.0

    return score / len(actual)

In [82]:
def mark(actual, predicted, k=10):
    return np.mean([ark(a,p,k) for a,p in zip(actual, predicted)])

In [83]:
mark(df.bought, df.rec_by_pop, k=5)

0.6145435213371051

## Train sample

### Popularity algo:

In [38]:
pop_algo_train = []

**AverageRecall@1**

In [39]:
ans = avg_rk(df.bought.values, df.rec_by_pop.values, k=1)
pop_algo_train.append(round(ans, 2))

**AveragePrecision@1**

In [40]:
ans = avg_pk(df.bought.values, df.rec_by_pop.values, k=1)
pop_algo_train.append(round(ans, 2))

**AverageRecall@5**

In [41]:
ans = avg_rk(df.bought.values, df.rec_by_pop.values, k=5)
pop_algo_train.append(round(ans, 2))

**AveragePrecision@5**

In [42]:
ans = avg_pk(df.bought.values, df.rec_by_pop.values, k=5)
pop_algo_train.append(round(ans, 2))

In [43]:
pop_algo_train

[0.44, 0.51, 0.82, 0.21]

In [44]:
with open('pop_algo_train.txt', 'w') as fout:
    fout.write(' '.join([str(x) for x in pop_algo_train]))

!cat pop_algo_train.txt

0.44 0.51 0.82 0.21

### Bought algo

**AverageRecall@1**

In [45]:
bought_algo_train = []

In [46]:
ans = avg_rk(df.bought.values, df.rec_by_bought.values, k=1)
bought_algo_train.append(round(ans, 2))

**AveragePrecision@1**

In [47]:
ans = avg_pk(df.bought.values, df.rec_by_bought.values, k=1)
bought_algo_train.append(round(ans, 2))

**AverageRecall@5**

In [48]:
ans = avg_rk(df.bought.values, df.rec_by_bought.values, k=5)
bought_algo_train.append(round(ans, 2))

**AveragePrecision@5**

In [49]:
ans = avg_pk(df.bought.values, df.rec_by_bought.values, k=5)
bought_algo_train.append(round(ans, 2))

In [50]:
bought_algo_train

[0.69, 0.8, 0.93, 0.25]

In [51]:
with open('bought_algo_train.txt', 'w') as fout:
    fout.write(' '.join([str(x) for x in bought_algo_train]))

!cat bought_algo_train.txt

0.69 0.8 0.93 0.25

## Test sample

### Popularity algo:

In [52]:
pop_algo_test = []

**AverageRecall@1**

In [53]:
ans = avg_rk(df_test.bought.values, df_test.rec_by_pop.values, k=1)
pop_algo_test.append(round(ans, 2))

**AveragePrecision@1**

In [54]:
ans = avg_pk(df_test.bought.values, df_test.rec_by_pop.values, k=1)
pop_algo_test.append(round(ans, 2))

**AverageRecall@5**

In [55]:
ans = avg_rk(df_test.bought.values, df_test.rec_by_pop.values, k=5)
pop_algo_test.append(round(ans, 2))

**AveragePrecision@5**

In [56]:
ans = avg_pk(df_test.bought.values, df_test.rec_by_pop.values, k=5)
pop_algo_test.append(round(ans, 2))

In [57]:
pop_algo_test

[0.42, 0.48, 0.8, 0.2]

In [58]:
with open('pop_algo_test.txt', 'w') as fout:
    fout.write(' '.join([str(x) for x in pop_algo_test]))

!cat pop_algo_test.txt

0.42 0.48 0.8 0.2

### Bought algo

In [59]:
bought_algo_test = []

**AverageRecall@1**

In [60]:
ans = avg_rk(df_test.bought.values, df_test.rec_by_bought.values, k=1)
bought_algo_test.append(round(ans, 2))

**AveragePrecision@1**

In [61]:
ans = avg_pk(df_test.bought.values, df_test.rec_by_bought.values, k=1)
bought_algo_test.append(round(ans, 2))

**AverageRecall@5**

In [62]:
ans = avg_rk(df_test.bought.values, df_test.rec_by_bought.values, k=5)
bought_algo_test.append(round(ans, 2))

**AveragePrecision@5**

In [63]:
ans = avg_pk(df_test.bought.values, df_test.rec_by_bought.values, k=5)
bought_algo_test.append(round(ans, 2))

In [64]:
bought_algo_test

[0.46, 0.53, 0.82, 0.21]

In [65]:
with open('bought_algo_test.txt', 'w') as fout:
    fout.write(' '.join([str(x) for x in bought_algo_test]))

!cat bought_algo_test.txt

0.46 0.53 0.82 0.21